manifest {
  author = 'Hugues Fontenelle'
  defaultBranch = 'master'
  description = 'Demonstrating a bug'
  homePage = 'https://github.com/huguesfontenelle/nextflow-bug-dict'
  mainScript = 'pipelines/mapping.nf'
  nextflowVersion = '>=19.01.0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/genomes.config'
